.App {
  text-align: center;
}

body{
  background-color: #f9f9f9;
}

.container{
  background-color: #ee3333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
  border: 2px solid #D1D0D0;
  border-radius: 25px;
}

.btn{
  background-color: #eb3737;
  border: 2px solid #a15555;
  border-radius: 10px;
}

.container input{
  background-color: #988686;
  border: 2px solid #988686;
  border-radius: 5px;
}